.cc-wrapper {
  display: table;
  width: 100%; }
  .cc-wrapper .contest-image, .cc-wrapper section {
    display: table-cell;
    width: 50%; }
  .cc-wrapper .contest-image {
    min-height: 500px; }
  .cc-wrapper section {
    padding: 0 1em;
    display: none; }
    .cc-wrapper section h1 {
      margin-top: 0; }
    .cc-wrapper section h2 {
      margin-top: 1em; }
    .cc-wrapper section.active {
      display: table-cell; }
  .cc-wrapper .fb-like-box {
    text-align: center;
    height: 61px;
    overflow: hidden; }
